# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.infinity-nodes.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MATEUS\Documents\Projetos\infinity-nodes\.idea\.idea.infinity-nodes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
